{{page-title "Home"}}
<section class="home-video-section">
  {{!-- {{#if this.ready}} --}}
    {{#each this.model as |item|}}
        <article class="home-video-container">
          <LinkTo class="LinkTo" @route="watch" @model="{{item.id}}">
            <a href="#" class="home-thumbnail" data-duration="{{get-time item.contentDetails.duration}}">
              <img class="home-thumbnail-image" src="{{item.snippet.thumbnails.medium.url}}" alt="image-thumbnail"/>
            </a>
            <div class="home-video-bottom-section">

              <div class="home-video-details">
                {{!-- {{log item.snippet.title}} --}}
                <header class="home-video-title">{{video-title  item.snippet.title}}</header>
                <div class="home-video-metadata">
                  <span>{{view-count item.statistics.viewCount}} Views</span>
                  •
                  <span>1 week ago</span>
                </div>
              </div>
            </div>
          </LinkTo>

        </article>
      {{/each}}
  {{!-- {{/if}} --}}

    </section>
    {{!-- <h1>
      {{get-time "PT1D"}}
    </h1> --}}
{{outlet}}