{{page-title "Index"}}
{{!--
home - <i class="fa fa-home" style="font-size:36px"></i>
trending - <i class="fa fa-rocket" style="font-size:36px;"></i>

--}}
{{!-- template-lint-disable require-valid-alt-text --}}
  <header class="header">
    {{!-- <a href="#">
      <img src="logo.png" alt="YouTube Logo" class="youtube-logo" />
    </a> --}}
    <form class="search-bar">
      <Input class="search-input" @value={{this.query}} @type="search" placeholder="Search" aria-label="Search" />
      {{!-- template-lint-disable no-action --}}
      <button type="submit" {{action this.search}} class="search-btn">
        <img src="magnify.svg" />
      </button>
    </form>
    {{!-- <div class="menu-icons">
      <a href="#">
        <img src="video-plus.svg" alt="Upload Video" />
      </a>
      <a href="#">
        <img src="apps.svg" alt="Apps" />
      </a>
      <a href="#">
        <img src="bell.svg" alt="Notifications" />
      </a>
      <a href="#">
        <img class="menu-channel-icon" src="http:///unsplash.it/36/36?gravity=center" alt="Your Channel" />
      </a>
    </div> --}}
  </header>
  <div class="categories">
    <section class="category-section">
      <button type="button" class="category active">All</button>
      <button type="button" class="category">Category 1</button>
      <button type="button" class="category">Category 2</button>
      <button type="button" class="category">Category 3</button>
      <button type="button" class="category">Category 4</button>
      <button type="button" class="category">Category 5</button>
      <button type="button" class="category">Category 6</button>
      <button type="button" class="category">Category 7</button>
      <button type="button" class="category">Category 8</button>
      <button type="button" class="category">Category 9</button>
    </section>
  </div>
  <div class="videos">
<section class="video-section">
      {{#each this.model as |item|}}
        <article class="video-container">
            <a href="#" class="thumbnail" data-duration="12:24">
              <img class="thumbnail-image" src="{{item.snippet.thumbnails.high.url}}" />
            </a>
            <div class="video-bottom-section">
              <a href="#">
                <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
              </a>
              <div class="video-details">
                <a href="#" class="video-title">{{item.snippet.title}}</a>
                <a href="#" class="video-channel-name">Channel Name</a>
                <div class="video-metadata">
                  <span>12K views</span>
                  •
                  <span>1 week ago</span>
                </div>
              </div>
            </div>

        </article>
      {{/each}}
    </section>

    <section class="video-section">
      <h2 class="video-section-title">LIVE</h2>
      {{#each this.model as |item|}}
 <article class="video-container">
        <a href="#" class="thumbnail" data-duration="12:24">
          <img class="thumbnail-image" src="{{item.snippet.thumbnails.high.url}}" />
        </a>
        <div class="video-bottom-section">
          <a href="#">
            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
          </a>
          <div class="video-details">
            <a href="#" class="video-title">{{item.snippet.title}}</a>
            <a href="#" class="video-channel-name">Channel Name</a>
            <div class="video-metadata">
              <span>12K views</span>
              •
              <span>1 week ago</span>
            </div>
          </div>
        </div>
      </article>
      {{/each}}

    </section>
{{#unless this.first}}
  {{#each this.result as |item|}}
      {{!-- template-lint-disable no-action --}}
      <div class="videos">
        {{!-- {{log item.id.videoId}} --}}
        {{!-- template-lint-disable no-invalid-interactive --}}
        <LinkTo @route="index">
<img class="thumbnail-image" src="{{item.snippet.thumbnails.high.url}}" {{action this.vidPlay item.id.videoId}} >
        <h3>{{item.snippet.title}}</h3>
        </LinkTo>
      </div>
  {{/each}}
{{/unless}}
  </div>

{{!-- {{#if this.log}}
  {{log this.vid}}
{{/if}} --}}
{{!-- {{#if this.ready}}
  <iframe height="800px" width="800px" title="Youtube"  src="https://www.youtube.com/embed/{{this.vid}}"></iframe>
{{/if}} --}}

{{outlet}}
{{!-- {{#each this.result as |item|}}
    {{!-- <h1>{{item.videoId}}</h1>
    <iframe  title="Youtube"  src="https://www.youtube.com/embed/{{item.id.videoId}}"> </iframe> --}}
      {{!-- <div class="videos">
    <section class="video-section">
      <article class="video-container">
        <a href="#" class="thumbnail" data-duration="12:24">
          <img class="thumbnail-image" src="{{item.snippet.thumbnails.default.url}}" />
        </a>
        <div class="video-bottom-section">
          <a href="#">
            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
          </a>
          <div class="video-details">
            <a href="#" class="video-title">{{item.snippet.title}}</a>
            <a href="#" class="video-channel-name">Channel Name</a>
            <div class="video-metadata">
              <span>12K views</span>
              •
              <span>1 week ago</span>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div> --}}
{{!--  <div class="videos">
  	<img class="thumbnail-image" src="{{item.snippet.thumbnails.high.url}} {{action this.play}}">
    <h3>{{item.snippet.title}}</h3>
	</div>
  {{/each}} --}}
